@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Suggester
.ig
  .obec-detail
    margin-left 20px
    .suggestion-container
      margin 0px 9px
      position relative
      &:before
        content ""
        triangle(10px, 6px, 'bottom', #6)
        margin-top -2px
        position absolute
        right 10px
        top 50%
        z-index 2000
      &:after
        content ""
        position absolute
        width 20px
        height 27px
        right 4px
        top -2px
        background white
        z-index 1999
      label
        position absolute
        width 20px
        height 27px
        right 4px
        top -2px
        background transparent
        z-index 2001

    h1
      font-size 20px
      margin-left 10px
    ul
      list-style-type none
      margin 0
      padding 0
      border-bottom 1px solid #e
      float left
      li
        border 1px solid #e
        border-bottom 0
        padding 5px 10px
        .result
          padding-left 1em
    .tops
    .bottoms
      float left
      h2
        margin 15px 0 15px 10px
        font-size 17px
    .tops
      margin-right 15px
      .result
        color #4daf4a
    .bottoms .result
      color #e41a1c
