.suggester-container
  position relative
  h2
    margin-bottom 15px
  .closebtn
    transform rotate(180deg)
    position absolute
    left 320px
    top 30px
    svg
      top -3px
      left -3px
    &.hidden
      display none

.subsetSelector-container
  width 200px
  position relative
  // top -4px
  z-index 999
  display inline-block
  input
  ul.suggestionList
    border 1px solid #c
    border-radius 3px
    width @width
  ul.suggestionList
    font-size 12px
    &:empty
      display none
    position absolute
    top 30px
    border-bottom 0px none
    left 0px
    list-style-type none
    max-height 160px
    overflow auto
    margin 0px
    padding 0px
    background white
    li
      padding 8px 18px
      position relative
      .okres
        color #666
      &.active
        background ColorBlue
        color white
        cursor pointer
        .okres
          color #eee


  input
    font-size 20px
    font-weight bold
    padding 4px 8px
    height auto
